.cart-wrapper {
  display: none;
  
}
.svg-pic {
  width: 410px;
  max-width: 100%;
}
.question__btn {
  height: 120px;
  width: 120px;
}
.main {
  width: auto;
  padding-left: 10%;
  padding-right: 15px;
  &__question {
    height: 506px;
    background: rgba(27, 50, 9, 0.5);
    &_wrapper{
      width:620px;
      margin: 0 auto;
    }

  }
  &__title {
    padding: 0 20px;
  }
}
.stepper-wrapper {
  width: 90%;
}

.grid__col-lg-6 {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
}
.question {
  &__btn {
    padding: 15px 1px;
    &__desc {
      display: none;
    }
    &__text {
      margin-top: 20px;
      font-size: 12px;
    }
    &_belt {
      background-image: url("/img/beltIcon.svg");
      background-size: 40%;
      background-position: 50% 20%;
    }
    &_tree {
      background-image: url("/img/treeIcon.svg");
      background-size: 45%;
      background-position: 50% 10%;
    }
    &_root{
      background-position: 50% 10%;
      background-size: 35%;

    }
  }
}


.btnWrapper {
  justify-content: space-around;
  margin-top: 15px;
}

.stepBtn {
  &.prev {
    display: none;
  }
}

.top-btn-wrapper {
  display: flex;
  justify-content: space-between;
  .top-cart {
    width: 100px;
    font-weight: 600;
    border-radius: 35px;
    background-color: #0c8200;
    border-width: 0;
    background-image: url("/img/shopping-cart1.svg");
    background-repeat: no-repeat;
    background-position: 20% 50%;
    color:white;
    text-align: end;
    padding-right: 20px;
  }
}

// .main__field {
//   max-height: 300px !important;
// }
.main {
  &__question {
    &_title {
      margin-top: 15px;
      &__title {
        padding: 0 0px;
      }
    }
  }
}
.stepper {
  margin-top: 15px;
}

.question {
  input, select {
    font-size: 14px;

  }
  
}

.mobile-cart-wrapper{
    position: absolute;
    z-index: 10;
    width: 90%;
    margin: 20px 0 0 0;
    left: 5%;
    display: none;
  }
  .mobile-cart-wrapper-show{
    display: block;
    margin-top: 10px;
  }

  .cart{
    .top-wrapper{
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .close{
        width: 20px;
        height: 20px;
        //background-image: url("/img/times-solid.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        -webkit-mask:  url("/img/times-solid.svg") no-repeat ;
        mask: url("/img/times-solid.svg") no-repeat ; 
      }
    
  }


@media (min-width: $sm) {
  .question__btn {
    height: 150px;
    width: 150px;
  }
  .main {
    width: 500px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .stepper-wrapper {
    margin: 0 auto;
    width: 500px;
  }

  .question {
    &__text {
      
      &_buttons {
        
        font-size: 21px;
        
      }
  }}
}

@media (min-width: $lg) {
  .question__btn {
    height: 200px;
    width: 200px;
  }
  .page{
    padding: 0 10%;
  }
  .field-wrapper{
    
  }
  .cart-wrapper {
    display: block;
    
  }
  
  .svg-pic {
    width: 481px;
  }
  .grid__col-lg-6 {
    width: 50%;
  }
  .question {
    &__btn {
      padding: 5px 28px;
      &__desc {
        display: block;
      }
      &__text {
        font-size: 12px;
      }
      &_root {
        background-image: url("/img/rootIcon.svg");
        background-size: 27%;
      }
      &_belt {
        background-image: url("/img/beltIcon.svg");
        background-size: 30%;
      }
      &_tree {
        background-image: url("/img/treeIcon.svg");
        background-size: 30%;
      }
      &__img{
        width: 90%;
      }
    }

    input {
      font-size: 12px;
    }
  }
  .mobile-top-section {
    display: none;
  }
  .btnWrapper {
    justify-content: space-between;
    margin-top: 15px;
  }

  .stepBtn {
    &.prev {
      display: block;
    }
  }
  .main {
    &__question {
      min-height: 300px;
    }
  }
  .stepper {
    margin-top: 20px;
  }
}
@media (min-width: $xl) {
  .cart {
    width: 100%;
    
  }
}
